{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoring System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/sort_&_ajax_add.js' %}"></script>
</head>
<body>
    <h1>Monitoring System</h1>
    <h2>Aggregated Data for Latest 100 Records:</h2>
    <table>
        <thead>
            <tr>
                <th id="min_load_header">Min Load</th>
                <th id="max_load_header">Max Load</th>
                <th id="avg_load_header">Avg Load</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ latest_100.min_load }}</td>
                <td>{{ latest_100.max_load }}</td>
                <td>{{ latest_100.avg_load }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Aggregated Data for All Records:</h2>
    <table>
        <thead>
            <tr>
                <th>Min Load</th>
                <th>Max Load</th>
                <th>Avg Load</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ all_records.min_load }}</td>
                <td>{{ all_records.max_load }}</td>
                <td>{{ all_records.avg_load }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Last 100 Records:</h2>
    <table id="cpu_load_table">
        <thead>
            <tr>
                <th id="timestamp_header">Timestamp</th>
                <th id="load_percentage_header">Load Percentage</th>
            </tr>
        </thead>
        <tbody id="last_100_records_table_body">
            {% for record in last_100_records %}
            <tr>
                <td>{{ record.formatted_timestamp }}</td>
                <td>{{ record.load_percentage }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
