{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoring System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/sort_&_ajax_add.js' %}"></script>
</head>
<body>
    <h1>Monitoring System</h1>
        <h2 id="latest_cpu">Latest CPU={{ last_cpu.load_percentage }}%</h2>
    <h2>Aggregated Data for Latest 100 Records:</h2>
    <table>
        <thead>
            <tr>
                <th id="min_load_header">Min Load</th>
                <th id="max_load_header">Max Load</th>
                <th id="avg_load_header">Avg Load</th>
            </tr>
        </thead>
         <tbody id="aggregated_data_body">
        <tr>
            <td id="min_load_value">{{ latest_100.min_load }}</td>
            <td id="max_load_value">{{ latest_100.max_load }}</td>
            <td id="avg_load_value">{{ latest_100.avg_load }}</td>
        </tr>
    </tbody>
    </table>

    <h2>Aggregated Data for All Records:</h2>
    <table>
        <thead>
            <tr>
                <th>Min Load</th>
                <th>Max Load</th>
                <th>Avg Load</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="min_load_all">{{ all_records.min_load }}</td>
                <td id="max_load_all">{{ all_records.max_load }}</td>
                <td id="avg_load_all">{{ all_records.avg_load }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Last 100 Records:</h2>
    <table id="cpu_load_table">
        <thead>
            <tr>
                <th id="timestamp_header">Timestamp</th>
                <th id="load_percentage_header">Load Percentage</th>
            </tr>
        </thead>
        <tbody id="last_100_records_table_body">
        </tbody>
    </table>
</body>
</html>


